* {
    margin: 0;
    padding: 0;
    /* color: white; */
    box-sizing: border-box;
}


*::-webkit-scrollbar {
    display: none;
}

.outerMostDiv {
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
    /* background-color: #272727; */
}

.navbarMainContainer {
    width: 100%;
    height: 10%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}


.navbarMainContainerLeftSection {
    height: 100%;
    width: 12%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbarMainContainerLeftSection img {
    height: 100%;
}

.navbarMainContainerMiddleSection {
    height: 100%;
    width: 50%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarMainContainerMiddleSection input {
    border: 2px solid black;
    outline: none;
    height: 60%;
    width: 90%;
    border-radius: 50px;
    padding: 0 2rem;
}


.navbarMainContainerRightSection {
    height: 100%;
    width: 20%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbarMainContainerRightSection .avatar {
    width: 40px;
    height: 40px;
    /* border: 2px solid red; */
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}






.mainContentMainContainer {
    width: 100%;
    height: 90%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
}

.mainContentLeftSection {
    width: 15%;
    height: 100%;
    /* border: 2px solid red; */
    overflow-y: scroll;
}

.mainContentLeftSection .mainNavbarLeftSectionHomeContainer,
.mainContentLeftSection .mainNavbarLeftSectionLibraryContainer {
    width: 100%;
    height: fit-content;
    padding: .5rem 0;
    /* border: 2px solid red; */
}

ul {
    list-style-type: none;
    /* border: 2px solid green; */
}

ul li {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: .8rem 0;
    border-radius: 10px;
}

ul li img {
    width: 7%;
    margin-right: 1.5rem;
    margin-left: 2rem;
}


.mainContentLeftSection .mainNavbarLeftSectionHomeContainer ul li:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.mainContentLeftSection .mainNavbarLeftSectionLibraryContainer {
    width: 100%;
    height: 35%;
    /* border: 2px solid red; */
}

.mainContentLeftSection .mainNavbarLeftSectionSubacriptionContainer {
    width: 100%;
    height: 65%;
    /* border: 2px solid red; */
}

.mainContentLeftSection .mainNavbarLeftSectionExploreContainer {
    width: 100%;
    height: 55%;
    /* border: 2px solid red; */
}




.mainContentRightSection {
    width: 85%;
    height: 100%;
    /* border: 2px solid red; */
}

.mainContentRightSectionTop {
    width: 100%;
    height: 10%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 0 .5rem;
}

.mainContentRightSectionTop p {
    width: fit-content;
    padding: .5rem 1rem;
    background-color: lightgray;
    border-radius: 50px;

}

.mainContentRightSectionBottom {
    width: 100%;
    height: 90%;
    /* border: 2px solid green; */
    /* padding: 1rem; */
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.mainContentRightSectionBottom .videoMainContainer {
    width: 22%;
    height: 48%;
    /* border: 2px solid red; */
    margin: 1rem;
    transition: all 1s ease-in-out;
}

.videoMainContainer:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.videoMainContainer img {
    width: 100%;
    border-radius: 10px;
}

.descriptionContainer {
    display: flex;
}

.descriptionContainer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: .5rem;
}

.textContainer {
    margin: 0 .5rem;
}

.ThreeDotsContainer {
    margin-right: .5rem;
    font-weight: 900;
}


@media only screen and (max-width: 1024px) {

    .mainContentRightSectionBottom .videoMainContainer {
        width: 20%;
    }
}

@media only screen and (max-width: 768px) {

    .mainContentRightSectionBottom .videoMainContainer {
        width: 45%;
    }
}

@media only screen and (max-width: 500px) {

    .mainContentRightSectionBottom .videoMainContainer {
        width: 100%;
    }

    .mainContentLeftSection {
        display: none;
    }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {

    .mainContentRightSection {
        width: 75%;
    }

    .mainContentLeftSection {
        width: 25%;
        height: 100%;
        overflow-y: scroll;
    }

    .mainContentRightSectionBottom .videoMainContainer {
        width: 40%;
    }
}




