/* external css */

/* p{
    background-color: black;
    color: white;
    color: green;
}


#specialPara{
    background-color: aquamarine;
    color: red;
}

.paraClass{
    background-color: blue;
    color: pink;
}

.paraClass2{
    background-color: yellow;
    color: red;
} */


.class2{
    /* background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);
    background-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 0); */

    /* background-color: rgba(255, 0, 0, .5); */

    /* background-color: #ffffff;
    background-color: #000000;
    background-color: #ff0000;
    background-color: #00ff00;
    background-color: #0000ff; */

    /* background-color: #fff;
    background-color: #f00;
    background-color: #0f0;
    background-color: #00f; */
}


/* rgb
    rgba
    hsl
    hsla
    hex
    normal solid
*/